# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.vcxproj.vpc_crc
*.sln
*.pdb

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
*.project
obj*/
!devtools/*.mak
mp/src/devtools/makefile_base_posix.mak.link
!utils/smdlexp/smdlexp.mak

# Specific Source build products
build/
mp/src/.vs/
[Rr]elease*/
[Dd]ebug*/
mp/game/bin
mp/game/*/bin

# generated protobuf sources
generated_proto*/

# library files
mp/src/lib/public/mathlib.lib
mp/src/lib/public/mathlib.pdb
mp/src/lib/public/raytrace.lib
mp/src/lib/public/raytrace.pdb
mp/src/lib/public/tier1.lib
mp/src/lib/public/tier1.pdb
mp/src/lib/public/vgui_controls.lib
mp/src/lib/public/vgui_controls.pdb

# misc files
fgdlib.lib
mp/src/utils/sapi51/Samples/VB/TTSAppVB/ttsapp.RES
vc120.pdb
vc140.pdb
*.VC.*
mp/src/Output-Build.txt
mp/src/utils/vvis_launcher/vvis_launcher.vpc.sentinel
*.vpc.sentinel
*_nut.h
# Files to ignore when considering what GIT should commit.
.DS_Store

# cache
mp/game/cache/*
mp/game/maps/soundcache/*
mp/game/maps/graphs/*
mp/game/materials/temp/*
mp/game/sound/temp/*
mp/game/sound.cache
sound.cache
*.sound.cache
modelsounds.cache

# crash dumps
*.dmp

# config files
mp/game/*/cfg/sourcemod/*
mp/game/*/cfg/autoexec_user.cfg
mp/game/*/cfg/banned_ip.cfg
mp/game/*/cfg/banned_user.cfg
mp/game/*/cfg/config.cfg
mp/game/*/cfg/server_blacklist.txt
mp/game/*/cfg/server.cfg
mp/game/*/cfg/user.scr
mp/game/*/cfg/settings.scr
mp/game/*/settings/admins.txt
ServerConfig.vdf

# logs
mp/game/*/logs/*
console.log

# demo records
*.dem

# user stuff
mp/game/*/cfg/pet.txt
mp/game/*/download/*
mp/game/*/downloadlists/*
mp/game/*/SAVE/*
mp/game/*/screenshots/*
demoheader.tmp
stats.txt
gamestate.txt
voice_ban.dt
textwindow_temp.html
mp/game/*/vpk/*
mp/game/*/demos/*
mp/game/*/materials/vgui/logos/ui/*
mp/game/*/materials/vgui/logos/ui/andre.vmt
mp/game/*/materials/vgui/logos/ui/chick1.vmt
mp/game/*/materials/vgui/logos/ui/spray_dog.vmt
mp/game/*/materials/vgui/logos/ui/spray_elited.vmt
mp/game/*/materials/vgui/logos/ui/spray_flashbanged.vmt
mp/game/*/materials/vgui/logos/ui/spray_kamikazi.vmt
*.db

# content source
materialsrc/*
soundsrc/*
mapsrc/*.log

# source plugins
mp/game/*/addons/*

# Ignore user custom assets
mp/game/*/custom/*

# faceposer stuff
mp/game/*/expressions/*

# shader files
*.tmp
*.vcs

# map compile products
*.prt

# migration blocks
*.vpk
*.ain

# Unnecessary files
*.lib
*.filters
*.vpc_crc
*.sentinel

# Backup files
*.bak

# Build support files
mp/src/devtools/gcc9+support.o